*.dll
*.exe
*.exp
*.ilk
*.lib
*.ncb
*.log
*.pdb
*.vcproj.*.user
[Dd]ebug
[Rr]elease
[Bb]ins
.vs
.vs/config
.vs/Fashion
.vs/Fashion/v15
*.xml
*.ddl.config
Fashion/bin
Fashion/bin/roslyn
.vs/Fashion/v15/.suo
.vs/Fashion/v15/Server/sqlite3
.vs/Fashion/v15/Server
.vs/Fashion/v15
.vs/Fashion
.vs
.vs/config/applicationhost.config
Fashion/obj/Debug
.vs/Fashion/v15/.suo
Fashion/obj/Debug/Fashion.pdb
Fashion/obj/Debug/Fashion.dll
Fashion/obj/Debug/Fashion.csprojResolveAssemblyReference.cache
Fashion/obj/Debug/Fashion.csproj.FileListAbsolute.txt
Fashion/obj/Debug/Fashion.csproj.CoreCompileInputs.cache
Fashion/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Fashion/bin/Fashion.pdb
.vs/Fashion/v15/.suo
.vs/config/applicationhost.config
.vs/Fashion/v15/.suo
